main section.feed {
	display: flex;
	align-content: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
}
main section.feed article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 30.5%;
}
main section.feed article .post .meta {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
main section.feed article {
	cursor: auto;
}
main section.feed h2.normal {
	display: none;
}
main section.feed article .post .meta a:before {
	content: "Комментарии: ";
}